<%- include("parts/head.ejs"); %>

<form id="game" class="atma-regular" action="http://localhost:3000/validateAnswer" method="post">
    <span id="number1" class="question_span"><%= locals?.number1 %></span>
    <span id="mod" class="question_span"><%- locals?.operator %></span>
    <!-- &divide; &times; &plus; &minus; -->
    <span id="number2" class="question_span"><%= locals?.number2 %></span>
    <span class="question_span">&equals;</span>
    <input type="text" name="userAnswer" id="answer" maxlength="7" required>
    <br><span id="warning"><%= locals?.warning %></span>
    <p>Only accept up to two digits after decimal separator point, excess digits ignored not rounded.</p>
    <p>decimal point use dot sign not coma</p>
    <p>do not accept exponential notation</p>
</form>

<%- include("parts/footer.ejs"); %>
